= title t('.title')

%h1=t '.title'

%br

= form_tag(purchase_reports_path, method: :get, id: 'purchase_filter_form', class: 'filter-form form-inline') do
  .form-group
    = label_tag :date_range, 'Filter Tanggal: '
    = text_field_tag :date_range, params[:date_range], class: 'form-control daterange'
  = submit_tag 'Filter', class: 'btn btn-default'

%br

%table.table.table-hover.table-striped.table-bordered.table-condensed.datatable{ width: '100%', id: "purchase-reports-datatable", data: { processing: 'true', 'server-side' => 'true', ajax: purchase_reports_path(format: :json), order: '[[0, "desc"]]' } }
  %thead
    %tr
      %th{data: { data: 'transaction_date' }} Tanggal Transaksi
      %th{data: { data: 'sum_total_qty_in', searchable: 'false', class_name: 'text-right' }} Total Qty Beli
      %th{data: { data: 'sum_total_price_in', searchable: 'false', class_name: 'text-right' }} Total Harga Beli
      %th{data: { data: 'show', orderable: 'false', searchable: 'false' }}
  %tbody
  %tfoot
    %tr
      %th Total
      %th.text-right#total-qty-in
      %th.text-right#total-price-in
      %th.text-right
