= title "Laporan Pembelian Hari #{l(Date.parse(params[:id]), format: :long)}"

%h1 Laporan Pembelian Hari #{l(Date.parse(params[:id]), format: :long)}

%table.table.table-hover.table-striped.table-bordered.table-condensed.datatable{data: { paging: 'false' }}
  %thead
    %tr
      %th Kategori
      %th Barang
      %th Unit
      %th Qty Beli
      %th Total Harga Beli
  %tbody
    - @purchase_item_stocks.each do |purchase_item_stock|
      %tr
        %td= purchase_item_stock.item_category_title
        %td= purchase_item_stock.item_name
        %td= purchase_item_stock.unit_title
        %td.text-right= purchase_item_stock.total_qty_in.to_f.to_s(:rounded)
        %td.text-right= purchase_item_stock.total_price_in.to_f.to_s(:currency)
  %tfoot
    %tr
      %th{colspan: '3'} Total
      %th.text-right= @purchase_item_stocks.sum(:total_qty_in).to_f.to_s(:rounded)
      %th.text-right= @purchase_item_stocks.sum(:total_price_in).to_f.to_s(:currency)
