= title t('.title')

%h1=t '.title'

%br

= form_tag(sales_reports_path, method: :get, id: 'sales_filter_form', class: 'filter-form form-inline') do
  .form-group
    = label_tag :date_range, 'Filter Tanggal: '
    = text_field_tag :date_range, params[:date_range], class: 'form-control daterange'
  = submit_tag 'Filter', class: 'btn btn-default'

%br

%table.table.table-hover.table-striped.table-bordered.table-condensed.datatable{width: '100%', id: "sales-reports-datatable", data: { processing: 'true', 'server-side' => 'true', ajax: sales_reports_path(date_range: params[:date_range], format: :json), order: '[[0, "desc"]]' }}
  %thead
    %tr
      %th{data: { data: 'transaction_date' }} Tanggal Transaksi
      %th{data: { data: 'sum_total_qty_out', searchable: 'false', class_name: 'text-right' }} Total Qty Jual
      %th{data: { data: 'sum_total_price_out', searchable: 'false', class_name: 'text-right' }} Total Harga Jual
      %th{data: { data: 'sum_total_profit', searchable: 'false', class_name: 'text-right' }} Keuntungan
      %th{data: { data: 'show', orderable: 'false', searchable: 'false' }}
  %tbody
  %tfoot
    %tr
      %th Total
      %th.text-right#total-qty-out
      %th.text-right#total-price-out
      %th.text-right#total-profit
      %th.text-right
