= title "Laporan Penjualan Hari #{l(Date.parse(params[:id]), format: :long)}"

%h1 Laporan Penjualan Hari #{l(Date.parse(params[:id]), format: :long)}

%table.table.table-hover.table-striped.table-bordered.table-condensed.datatable{data: { paging: 'false' }}
  %thead
    %tr
      %th Kategori
      %th Barang
      %th Unit
      %th Qty Jual
      %th Total Harga Jual
      %th Harga modal per unit
      %th Total Keuntungan
  %tbody
    - @sales_item_stocks.each do |sales_item_stock|
      %tr
        %td= sales_item_stock.item_category_title
        %td= sales_item_stock.item_name
        %td= sales_item_stock.unit_title
        %td.text-right= sales_item_stock.total_qty_out.to_f.to_s(:rounded)
        %td.text-right= sales_item_stock.total_price_out.to_f.to_s(:currency)
        %td.text-right= sales_item_stock.buy_price.to_f.to_s(:currency)
        %td.text-right= sales_item_stock.total_profit.to_f.to_s(:currency)
  %tfoot
    %tr
      %th{colspan: '3'} Total
      %th.text-right= @sales_item_stocks.sum(:total_qty_out).to_f.to_s(:rounded)
      %th.text-right= @sales_item_stocks.sum(:total_price_out).to_f.to_s(:currency)
      %th.text-right
      %th.text-right= @sales_item_stocks.sum(:total_profit).to_f.to_s(:currency)
