%h1
  Toko17

- if user_signed_in?
  %p
    = link_to 'Logout', destroy_user_session_path, method: :delete
- else
  %p
    Silahkan
    =link_to 'login', new_user_session_path, class: 'btn btn-primary btn-lg'
