= simple_nested_form_for @main_transaction do |f|
  = f.error_notification

  .form-inputs
    = f.input :transaction_date, disabled: @main_transaction.persisted?, required: @main_transaction.new_record?
    = f.input :transaction_type_id, required: @main_transaction.new_record? do
      = f.collection_radio_buttons :transaction_type_id, TransactionType.all, :id, :name, item_wrapper_class: :radio do |b|
        = b.radio_button(data: { sign: b.object.sign }, class: 'main_transaction-transaction_type', checked: f.object.transaction_type_id == b.object.id, disabled: @main_transaction.persisted?) + b.text

    .panel.panel-default
      .panel-heading
        Barang
      %table.table
        %thead
          %tr
            %th.col-sm-4 Barang
            %th.col-sm-2 Unit
            %th.col-sm-1 Qty
            %th.col-sm-2 Harga
            %th.col-sm-2 Total
            %th.col-sm-1 Aksi
        %tbody#transaction_items
          = f.fields_for :transaction_items, wrapper: false
        %tfoot
          %tr
            %th{colspan: "2"} Total
            %th.main-transaction-total-qty
            %th.main-transaction-total-price
            %th.main-transaction-total-total-price
            %th
      .panel-body
        %p= f.link_to_add fa_icon('plus') + ' Barang', :transaction_items, :data => { :target => "#transaction_items" }

  .form-actions
    = f.button :submit
