%tr.fields
  %td
    .item-name
      - if f.object.persisted? || f.object.item_id.present?
        %p
          = f.object.item_title
        - if f.object.item.item_prices.length > 0
          %ul
            - f.object.item.ordered_item_prices.each do |item_price|
              %li= item_price.title
    - item_collections = []
    - if f.object.item_id.present?
      - item_collections = [[ f.object.item_title, f.object.item_id ]]
    = f.input :item_id, as: :select,            |
              collection: item_collections,     |
              include_blank: false,             |
              wrapper: :horizontal_form_nowrap, |
              input_html: { class: 'items-select2-ajax', data: { "ajax--url" => select2_items_path } }
  %td= f.association :unit, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes_no_label, input_html: {class: 'transaction-item-unit'}
  %td= f.input :qty, wrapper: :horizontal_form_nowrap, input_html: {class: 'transaction-item-qty'}
  %td= f.input :price, wrapper: :horizontal_form_nowrap, input_html: {class: 'transaction-item-price'}
  %td= f.input_field :total_price, class: 'transaction-item-total-price form-control', disabled: true
  %td= f.link_to_remove fa_icon('trash-o')
