= title t('.title')

%h1=t '.title'

= link_to fa_icon('plus') + ' Transaksi', new_main_transaction_path, class: 'btn btn-primary'

%br
%br

%table.table.table-hover.table-striped.table-bordered.table-condensed.datatable{width: '100%', id: "main-transactions-datatable", data: { processing: 'true', 'server-side' => 'true', ajax: main_transactions_path(format: :json), order: '[[0, "desc"]]' }}
  %thead
    %tr
      %th{data: { data: 'transaction_date' }} Tanggal Transaksi
      %th{data: { data: 'transaction_type_name' }} Tipe Transaksi
      %th{data: { data: 'total_price' }} Total
      %th{data: { data: 'action', orderable: 'false', searchable: 'false' }}
  %tbody
