%p#notice= notice

%p
  %b Tanggal Transaksi:
  =l @main_transaction.transaction_date, format: :long
%p
  %b Tipe Transaksi:
  = @main_transaction.transaction_type_name
%p
  %b Total:
  = @main_transaction.total_price.to_f.to_s(:currency)

%table.table.table-hover.table-striped.table-bordered.table-condensed.datatable{data: { paging: 'false', order: '[]' }}
  %thead
    %tr
      %th Barang
      %th Unit
      %th.text-right Qty
      %th.text-right Harga
      %th.text-right Total
  %tbody
    - @main_transaction.transaction_items.each do |transaction_item|
      %tr
        %td= transaction_item.item_name
        %td= transaction_item.unit_title
        %td.text-right= transaction_item.qty.to_f.to_s(:rounded)
        %td.text-right= transaction_item.price.to_f.to_s(:currency)
        %td.text-right= transaction_item.total_price.to_f.to_s(:currency)
  %tfoot
    %tr
      %th{colspan: "2"} Total
      %th.text-right= @main_transaction.transaction_items.sum(:qty).to_f.to_s(:rounded)
      %th
      %th.text-right= @main_transaction.transaction_items.sum(:total_price).to_f.to_s(:currency)

= link_to 'Edit', edit_main_transaction_path(@main_transaction)
\|
= link_to 'Back', main_transactions_path
