= simple_nested_form_for @item do |f|
  = f.error_notification

  .form-inputs
    = f.association :category
    = f.input :name
    = f.input :is_active

    .panel.panel-default
      .panel-heading
        Harga
      %table.table
        %thead
          %tr
            %th Posisi
            %th Harga Jual
            %th Unit
            %th Harga Beli
            %th Min Pembelian
            %th Max Pembelian
            %th Aksi
        %tbody#item_prices
          = f.fields_for :item_prices, @item.ordered_item_prices, wrapper: false
      .panel-body
        %p= f.link_to_add fa_icon('plus') + ' Harga Baru', :item_prices, :data => { :target => "#item_prices" }

  .form-actions
    = f.button :submit
