%tr.fields
  %td= f.input :position, label: false, wrapper: false
  %td= f.input :price, label: false, wrapper: false
  %td= f.association :unit, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes_no_label
  %td= f.input :buy_price, label: false, wrapper: false
  %td= f.input :min_purchase, label: false, wrapper: false
  %td= f.input :max_purchase, label: false, wrapper: false
  %td= f.link_to_remove fa_icon('trash-o')
