= title t('.title')

%h1=t '.title'

= link_to fa_icon('plus') + ' Barang Baru', new_item_path, class: 'btn btn-primary'

%br
%br

%table.table.table-hover.table-striped.table-bordered.table-condensed.datatable{width: '100%', id: 'items-datatable', data: { processing: 'true', 'server-side' => 'true', ajax: items_path(format: :json) }}
  %thead
    %tr
      %th{data: { data: 'name' }} Nama
      %th{data: { data: 'category_title' }} Kategori
      %th{data: { data: 'item_prices' }} Harga Jual
      %th{data: { data: 'is_active', searchable: 'false' }} Aktif?
      %th{data: { data: 'action', orderable: 'false', searchable: 'false' }}
  %tbody
