%p#notice= notice

%p
  %b Kategori:
  = @item.category_title
%p
  %b Nama:
  = @item.name
%p
  %b Aktif?:
  = @item.is_active ? fa_icon('check') : fa_icon('times')

%table.table.table-hover.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Posisi
      %th Harga Jual
      %th Unit
      %th Harga Beli
      %th Min Pembelian
      %th Max Pembelian
  %tbody
    - @item.ordered_item_prices.each do |item_price|
      %tr
        %td= item_price.position
        %td.text-right= item_price.price.to_f.to_s(:currency)
        %td= item_price.unit_title
        %td.text-right= item_price.buy_price.to_f.to_s(:currency)
        %td.text-right= item_price.min_purchase.to_f.to_s(:rounded)
        %td.text-right= item_price.max_purchase.to_f.to_s(:rounded)

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
