= title t('.title')

%h1=t '.title'

%br

%table.table.table-hover.table-striped.table-bordered.table-condensed.datatable{width: '100%', id: "daily-reports-datatable", data: { processing: 'true', 'server-side' => 'true', ajax: daily_reports_path(format: :json), order: '[[0, "desc"]]' }}
  %thead
    %tr
      %th{data: { data: 'transaction_date' }} Tanggal Transaksi
      %th{data: { data: 'sum_total_qty_in' }} Total Qty Beli
      %th{data: { data: 'sum_total_price_in' }} Total Harga Beli
      %th{data: { data: 'sum_total_qty_out' }} Total Qty Jual
      %th{data: { data: 'sum_total_price_out' }} Total Harga Jual
      %th{data: { data: 'sum_total_profit' }} Keuntungan
      %th{data: { data: 'show', orderable: 'false', searchable: 'false' }}
  %tbody
