!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title
      = content_for?(:title) ? yield(:title) : t('.title')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :custom_css
  %body
    #main-page-container.page-container.main-page-container
      - if user_signed_in?
        = render 'shared/navbar'
      #main-container.container
        .row
          #main-content-area.col-md-12
            #alert_area= bootstrap_flash
            = yield
    = yield :js
